<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-header">

  <header class="header">
    <div class="container header-container">

      <!-- Logo -->
      <div class="logo">
        S.<span>M.</span>
      </div>

      <!-- Navigation -->
      <nav class="nav">
        <a href="#about" class="nav-link">About</a>
        <a href="#projects" class="nav-link">Project</a>
        <a href="#experience" class="nav-link">Experience</a>
        <a href="#achievements" class="nav-link">Achievement</a>
        <a href="#contact" class="nav-link">Contact</a>
      </nav>

    </div>
  </header>

</th:block>
</html>